body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 168, 187);
}

.topnav {
    overflow: auto;
    background-color: #333;
    position: fixed;
    margin-right:0;
    width:100%;
    top:0;
    margin-bottom:30px;
    z-index:1;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

.topnav .btnright{
    float:right;
    margin-right:30;
    background-color: #333;
}

.topnav .navTitle{
    
    color:white;
    margin-left:46%;
}

.topnav a.active {
    background-color: #333;
    color: white;
}

.Header {
    text-align: center;
    margin-top: 200;
}

.page{ 
    height:800;
    margin-left: 0;
    margin-top: 400;
   
}
.message{ 
    margin-top: 300;
    margin-left:400;
   
}

h1 {
    height: 700;
    margin-left: 120;
    margin-top: 400;

}

.choice{
    margin-left: -100;
    margin-top:800;
   
}

textarea {
    vertical-align: top;
    height:300px;
    width: 400px;
    resize:none;
    display: inline-block;
    margin-top:20px;
    margin-left:-125px;

}
.mainLabel {
    margin-top:150px;
    display:inline-block;
    width:20%;
}

.catLabel {
   
    display:inline-block;
    width:20%;
}

form {
    margin-left: 25%;
    margin-top: 10%;
}
input[name="post"] {
    margin-top:30px;
    margin-left: 25%;

}
input[name="published"] {
    margin-top: 10px;

}
input[name="image"] {
    margin-top:10px;
    margin-left: 50px;

}

input[name="categories"] {
    margin-top:20px;
    width:20%;

}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: red;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}

.rectangle {
    margin-left:650;
    height: 600px;
    width: 10px;
    background-color: rgb(95, 93, 93);
    
    margin-top:-600
  }

  .mediumSize {
  position:absolute;
  margin-left:650;
  margin-top:00;
  padding: 2px;
  font-size: 20px;

  }

  .largeSize {
    position:absolute;
    margin-left:1170;
    margin-top:00;
    padding: 2px;
    font-size: 20px;

  }

 