.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 39px 834px 0 62px;
}

.u-section-1 .u-form-1 {
  height: 127px;
  margin: -23px 305px 0 395px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  padding-top: 11px;
  padding-bottom: 11px;
}

.u-section-1 .u-slider-1 {
  width: 1106px;
  min-height: 831px;
  margin: -53px auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1106px;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 180px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/f57e939b0fbc40cc8b5abd2bcd6d29beb97911d858d71700696b8f8d583f9a81b6853edd1b55b88a6e8960c7f27b2cb70ad1a6246e821d7f873f5d_1280.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 253px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/photo-1502933691298-84fc14542831.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 253px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/9e3e0ab7-27a2-3fc2-d346-da4a8ba46501.jpg");
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 253px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/01fcf718-f7b2-63f8-258f-ce42f0096f05.jpg");
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 253px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/6fa84684-6123-9de0-37cc-2142d8c13ada.jpg");
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 253px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/uyyuy.jpg");
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 253px;
}

.u-section-1 .u-image-7 {
  background-image: url("images/2a9ea0b9-46af-14ea-64d7-1ba800de0670.jpg");
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 253px;
}

.u-section-1 .u-image-8 {
  background-image: url("images/coconut-tree-under-gray-sky-1122409.jpg");
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 253px;
}

.u-section-1 .u-image-9 {
  background-image: url("images/pexels-photo-3328071.jpeg");
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1106px;
  margin: 30px 0 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 253px;
}

.u-section-1 .u-image-10 {
  background-image: url("images/863d453a-54cd-5894-0fcd-c5c20cdb8e86.jpg");
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 253px;
}

.u-section-1 .u-image-11 {
  background-image: url("images/photo-1502933691298-84fc14542831.jpg");
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 253px;
}

.u-section-1 .u-image-12 {
  background-image: url("images/9e3e0ab7-27a2-3fc2-d346-da4a8ba46501.jpg");
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 253px;
}

.u-section-1 .u-image-13 {
  background-image: url("images/01fcf718-f7b2-63f8-258f-ce42f0096f05.jpg");
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-14 {
  min-height: 253px;
}

.u-section-1 .u-image-14 {
  background-image: url("images/6fa84684-6123-9de0-37cc-2142d8c13ada.jpg");
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 253px;
}

.u-section-1 .u-image-15 {
  background-image: url("images/uyyuy.jpg");
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-16 {
  min-height: 253px;
}

.u-section-1 .u-image-16 {
  background-image: url("images/2a9ea0b9-46af-14ea-64d7-1ba800de0670.jpg");
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-17 {
  min-height: 253px;
}

.u-section-1 .u-image-17 {
  background-image: url("images/coconut-tree-under-gray-sky-1122409.jpg");
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-18 {
  min-height: 253px;
}

.u-section-1 .u-image-18 {
  background-image: url("images/pexels-photo-3328071.jpeg");
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 490px;
  position: absolute;
  top: auto;
  right: auto;
  bottom: -46px;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  top: auto;
  right: 489px;
  bottom: -46px;
}

.u-section-1 .u-text-2 {
  margin: -1276px 1517px 60px -376px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 690px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -37px;
    margin-right: 219px;
    margin-left: 295px;
  }

  .u-section-1 .u-btn-1 {
    padding: 12px 31px 12px 29px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 747px;
    height: auto;
    margin-top: -31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 235px;
    transition-duration: 0.5s;
    transform: scale(1.1) translateX(0px) translateY(0px);
  }

  .u-section-1 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 235px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 406px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 413px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 173px;
    margin-left: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 470px;
    
  }

  .u-section-1 .u-form-1 {
    margin-top: -39px;
    margin-right: 103px;
    margin-left: 191px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 582px;
    margin-top: -29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 180px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 180px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 306px;
    bottom: -63px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 297px;
    bottom: -63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4071px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 92px;
    margin-right: 135px;
    
  }

  .u-section-1 .u-form-1 {
    height: 170px;
    width: 426px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-slider-1 {
    min-height: 3687px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 405px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 405px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 191px;
    bottom: -48px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 191px;
    bottom: -48px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -4292px;
    margin-right: 150px;
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2675px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 90px;
    margin-right: 0px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 14px;
    margin-right: -24px;
    margin-left: 24px;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 2343px;
    margin-top: -13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-14 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-16 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-17 {
    min-height: 255px;
  }

  .u-section-1 .u-layout-cell-18 {
    min-height: 255px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: 104px;
  }

  .u-section-1 .u-carousel-control-2 {
    right: 93px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2625px;
    margin-right: 186px;
    margin-left: 47px;
  }
}

.u-section-1 .u-layout-cell-10,
.u-section-1 .u-layout-cell-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-layout-cell-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-layout-cell-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}










/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.title {
  color: black;
}

.body {
  color: black;
}



a.fill-div {
  display: inline;
  height: 100%;
  width: 100%;
  text-decoration: none;
  
}

.fa-redo:before{
  margin-left: 18px;
}

.fa, .fas {
margin-top: 20px;
}

.hiddenSubmit{
  visibility: hidden;
  position: absolute;
}